# OS metadata
.DS_Store

# temporary and backup files
.*.swp
*~

# LaTeX derivatives
*.aux
*.bbl
*.blg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.pyg
*.snm
*.svt
*.toc

*.synctex.gz
_minted-*

.version.tex


/unversioned/

# derivative files generated via .ins and .dtx
*.cls
*.sty

# directory used for code snippets
examples/

# package distribution archive
*.zip
